<html>
    <head>
        <title>lalalala</title>
    </head>
    <body>
      <div>
          <h1><strong>DID YOU KNOW</strong></h1>
      </div>
        <p>Fun facts</p>
          <ul><li>like duh</li><li>okay</li><li>whatever</li></ul>
      <div>
        {% for post in posts %}
          <div>
              <p>published: {{ post.published_date}}</p>
              <h1><a href=''>{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaks }}</p>
          </div>
        {% endfor %}
      </div>
    </body>
</html>
